In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [6]:
production = pd.read_csv("time_series_60min_singleindex_filtered.csv",
                        parse_dates=[0], index_col=0)

In [7]:
production.head()

,cet_cest_timestamp,interpolated_values,FR_load_entsoe_power_statistics,FR_load_entsoe_transparency,FR_price_day_ahead,FR_solar_generation_actual,FR_wind_onshore_generation_actual
utc_timestamp,,,,,,,
2005-12-31 23:00:00,2006-01-01T00:00:00+0100,NaN,63245.0,NaN,NaN,NaN,NaN
2006-01-01 00:00:00,2006-01-01T01:00:00+0100,NaN,63616.0,NaN,NaN,NaN,NaN
2006-01-01 01:00:00,2006-01-01T02:00:00+0100,NaN,61480.0,NaN,NaN,NaN,NaN
2006-01-01 02:00:00,2006-01-01T03:00:00+0100,NaN,58000.0,NaN,NaN,NaN,NaN
2006-01-01 03:00:00,2006-01-01T04:00:00+0100,NaN,55635.0,NaN,NaN,NaN,NaN